{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>

    <div id="box">
        <h2>Contact Us</h2>

        <form id="formBox">
            <input type="text" placeholder="Your Name">
            <input type="email" placeholder="Email">
            <textarea placeholder="Message"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="{% static 'contact.js' %}></script>


</body>
</html>
